.allcourses-page {
    display: flex;
    justify-content: center;
    height: calc(100vh - 4em);
}

.allcourses-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 3em;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    background-color: var(--second-color);
    border-radius: 15px;
    padding: 3em;
}

h2 { 
    margin-top: 0;
}

.allcourses-card {
    padding: 2em;
    padding-top: 0em;
    border-radius: 15px;
    background-color: white;
    transition: all 0.3s ease;
}

.allcourses-card:hover {
    background-color: var(--main-color);
    color: white;
    .allcourses-card-start {
        background-color: var(--second-color);
        color: var(--main-color)
    }
}

.allcourses-card-start {
    width: 10em;
    height: 3em;
    border-radius: 10px;
    border: 0;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.allcourses-card-start:hover {
    background-color: rgb(40,40,40);
    scale: 0.99;
}

body.dark-theme .allcourses-container {
    background-color: var(--main-color);
}

body.dark-theme .allcourses-card {
    background-color: rgb(20,20,20);
}

body.dark-theme .allcourses-card:hover {
    background-color: rgb(10,10,10);
}

body.dark-theme .allcourses-card-start {
    background-color: var(--second-color);
    color: var(--main-color)
}

body.dark-theme .allcourses-card-start:hover {
    background-color: rgb(180,180,180);
}

