.find-courses-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 95%;
    margin-top: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 2.5em;
}

.find-courses-container h2 {
    margin-top: 1em;
    margin-left: 2em;
}

.find-courses-search-bar {
    background-color: var(--second-color);
    height: 2em;
    width: 20%;
    padding: 0.5em;
    margin-left: 3.5em;
}

.find-courses-courses {
    align-self: center;
    width: 100%;
    height: fit-content;
    margin-top: 2em;
}

body.dark-theme .find-courses-container {
    background-color: var(--main-color);
}