.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4em);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: calc(100% - 4em);
    background-color: transparent;
    border-radius: 15px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-info {
    display: flex;
}

.profile-image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-left: 4em;
    margin-top: 2em;
    background-color: white;
    margin-bottom: 2em;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-details p {
    text-align: left;
    margin-left: 4em;
    width: 100%;
}

.profile-edit-button {
    margin-top: 2em;
    margin-bottom: 1em;
    align-self: center;
    width: 10em;
    height: 2.5em;
    border-radius: 10px;
    background-color: var(--main-color);
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
}

.profile-edit-button:hover {
    scale: 0.95;
}

body.dark-theme .profile-container {
    background-color: transparent;
}

body.dark-theme .profile-details {
    background-color: var(--main-color);
}

body.dark-theme .profile-edit-button {
    background-color: var(--second-color);
    color: black;
}

