.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.signup-container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 15px;
}

h1 {
    align-self: center;
}

hr {
    border: 1px solid white;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    font-size: 0.9em;
}

input {
    border-radius: 5px;
    border: 0;
    width: 20em;
    height: 2em;
}

input:focus {
    outline: none;
}

input[type = 'submit'] {
    margin-top: 20px;
    height: 2em;
    font-size: 1em;
    width: 16.5em;
    align-self: center;
}

.signup-have-account {
    font-size: 1em;
    align-self: center;
    cursor: pointer;
}