.welcomeback {
    margin-top: 3em;
    width: 95%;
    height: 16em;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcomeback h2 {
    margin-left: 2em;
    margin-top: 2em;
}

.welcomeback p {
    margin-left: 3em;
}

.welcomeback-explore-button {
    margin-left: 2.5em;
    margin-top: 1.5em;
    width: 10em;
    height: 3em;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
}

.welcomeback-explore-button:hover {
    background-color: var(--second-color);
    color: black;
    scale: 0.95;
}

.welcomeback-image {
    position: absolute;
    width: auto;
    height: 13em;
    right: 4em;
    top: 9em;
}

body.dark-theme .welcomeback {
    background-color: var(--main-color);
}

body.dark-theme .welcomeback-explore-button {
    background-color: var(--second-color);
    color: var(--main-color)
}

body.dark-theme .welcomeback-explore-button:hover {
    background-color: rgb(180, 180, 180);
}